#game {
  text-align: center;
  border: 1px solid black;
  width: 800px;
}
#button {
  padding-top: 25px;
}
header {
  font-size: 60px;
  font-family: fantasy;
  padding-top: 20px;
}
#answer {
  font-size: 45px;
  letter-spacing: 10px;
}
#button button {
  font-size: 25;
}
#button button:hover {
  font-size: 35px;
  flex-wrap: wrap;
}
#img img {
  width: 412px;
}
#lives {
  padding-top: 30px;
  font-family: fantasy;
}
